<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikun.modules.mnt.mapper.ServerMapper">

  <!-- 通用查询结果列 -->
  <!--
  <sql id="Base_Column_List">
      a.server_id, a.account, a.ip, a.name, a.password, a.port, a.create_by, a.update_by, a.create_time, a.update_time
  </sql>
  -->

  <select id="selectAllByDeployId" resultType="com.ikun.modules.mnt.domain.Server">
    select
      m.*
    from mnt_deploy_server ds
           left join mnt_server m on ds.server_id = m.server_id
    where ds.deploy_id=#{deployId,jdbcType=BIGINT}
  </select>
</mapper>
